/* @font-face {
  font-family: 'iconfont';  /* project id 1506141 */
/* src: url('//at.alicdn.com/t/font_1506141_4bu9fy0ztac.eot');
  src: url('//at.alicdn.com/t/font_1506141_4bu9fy0ztac.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1506141_4bu9fy0ztac.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1506141_4bu9fy0ztac.woff') format('woff'),
  url('//at.alicdn.com/t/font_1506141_4bu9fy0ztac.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1506141_4bu9fy0ztac.svg#iconfont') format('svg');
} */
@font-face {
    font-family: 'iconfont';  /* project id 1506141 */
    src: url('//at.alicdn.com/t/font_1506141_le1um559wo.eot');
    src: url('//at.alicdn.com/t/font_1506141_le1um559wo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1506141_le1um559wo.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1506141_le1um559wo.woff') format('woff'),
    url('//at.alicdn.com/t/font_1506141_le1um559wo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1506141_le1um559wo.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-fanhui:before {
  content: "\e608";
}

.icon-icon-:before {
  content: "\e602";
}

.icon-lishi:before {
  content: "\e609";
}
